{% extends "base.html" %}

{% block content %}
    <h1>Update User Data</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.firstName.label }}<br>
            {{ form.firstName() }}
            {% for error in form.firstName.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.lastName.label }}<br>
            {{ form.lastName() }}
            {% for error in form.lastName.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.displayName.label }}<br>
            {{ form.displayName() }}
            {% for error in form.displayName.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}